<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sahifa</title>
</head>
<body>
    <h1  align="center" style="background-color:Chartreuse;">Bosh sahifaga xush kelibsiz!</h1>
    <br>
    <br>
    <br>
    <h1 align="center"><a href="/kitoblar/">Kitoblar</a> </h1>
    <br>
    <h1  align="center"><a href="/mualliflar/">Mualliflar</a> </h1>
    <br>
    <h1  align="center"><a href="/talabalar/">Talabalar</a> </h1>
    <br>
    <h1  align="center"><a href="/adminlar/">Adminlar</a> </h1>
    <br>
    <h1  align="center"><a href="/record/">Record</a> </h1>
</body>
</html>